{
    "presets": [
        "./node_modules/shakapacker/package/babel/preset.js",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ]
}